@font-face {
  font-family: 'Lovelace';
  src: url('./fonts/Lovelace.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Moiamova';
  src: url('./fonts/Moiamova.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Swanky';
  src: url('./fonts/Swanky.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App {
  text-align: center;
  background-color: #e6e2d1; 
  min-height: 100vh; 
  padding: 20px;
  font-family: 'Moiamova', sans-serif; 
  color: #000; 
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}


/* Шапка */
.App-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background-color: #4d4241;
  border-bottom: 1px solid #ddd;
}

/* Логотип 
.App-logo {
  height: 40vmin;
  pointer-events: none;
}
*/

.App-link {
  color: #61dafb;
}

/* Строка поиска */
.search-bar input {
  width: 300px;
  padding: 10px;
  font-size: 28px;
  font-family: 'Moiamova', sans-serif;
  color: #000000; 
  background-color: #e6e2d1; 
}

/* Кнопка входа */
.account button {
  padding: 10px 20px;
  font-size: 28px;
  cursor: pointer;
  font-family: 'Moiamova', sans-serif; 
  color: #000; 
  background-color: #e6e2d1; 
  border: 1px solid #000; 
  border-radius: 5px;
}

/* Заголовок "БИБЛИОТЕКА" */
h1 {
  font-size: 56px;
  /*color: #891212; */
  color: #650404; 
  font-family: 'Lovelace', serif; 
  margin-top: 20px;
}

/* Текст под заголовком "БИБЛИОТЕКА" */
.library-description {
  font-size: 20px;
  color: #650404; 
  font-family: 'Lovelace', serif;
  margin-top: 10px;
  margin-bottom: 20px;
  max-width: 1600px; 
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

/* Навигация */
nav {
  margin-top: 20px;
}

 /* ссылки */
nav a {
  margin: 0 10px;
  text-decoration: none;
  color: #000; 
  font-family: 'Moiamova', sans-serif; 
}

/* Секция с формой */
.form-section {
  margin-top: 40px;
  padding: 20px;
  background-color: #f8f8f8;
  border-radius: 10px;
  width: 100%; 
  max-width: 600px;
  margin-left: 20px;
  margin-right: 20px;
  margin: 0 auto;
}

.form-section h2 {
  font-size: 36px;
  color: #420000;
  margin-bottom: 20px;
}

.form-section p {
  font-size: 28px;
  color: #333;
  margin-bottom: 20px;
}

.form-group {
  margin-bottom: 15px;
  text-align: left;
}

.form-group label {
  display: block;
  font-size: 28px;
  color: #333;
  margin-bottom: 5px;
}

.form-group input {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.form-group input[type="checkbox"] {
  width: auto;
  margin-right: 10px;
}

button[type="submit"] {
  background-color: #420000;
  color: #fff;
  padding: 10px 20px;
  font-size: 28px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-family: 'Moiamova', sans-serif;
}

button[type="submit"]:hover {
  background-color: #5a0000;
}


/* Всплывающее сообщение */
.popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Полупрозрачный фон */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.popup-content {
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  text-align: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.popup-content p {
  font-size: 18px;
  margin-bottom: 20px;
}

.popup-content button {
  background-color: #420000;
  color: #fff;
  padding: 10px 20px;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.popup-content button:hover {
  background-color: #5a0000;
}

/* Стили для страницы "МЕРОПРИЯТИЯ" и "ХЗ" */
.EventsPage,
.OtherPage {
  background-color: #D4CFB1; 
  min-height: 100vh;
  padding: 20px;
  font-family: 'Moiamova', sans-serif; 
  color: #000; 
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
